<table>
  <tr>
    <th>Pivotal API Token</th>
    <td>
      <input type="text" value="<%= settings['pivotal_api_token'] %>" name="settings[pivotal_api_token]" >
    </td>
  </tr>

  <tr>
    <th>Pivotal Project ID</th>
    <td>
      <input type="text" value="<%= settings['pivotal_project_id'] %>" name="settings[pivotal_project_id]" >
    </td>
  </tr>

  <tr>
    <th>Pivotal External Integration ID</th>
    <td>
      <input type="text" value="<%= settings['pivotal_external_integration_id'] %>" name="settings[pivotal_external_integration_id]" >
    </td>
  </tr>

  <tr>
    <th>Redmine Accepted Status ID</th>
    <td>
      <input type="text" value="<%= settings['redmine_accepted_status_id'] %>" name="settings[redmine_accepted_status_id]" >
    </td>
  </tr>

  <tr>
    <th>Redmine Completed Status ID</th>
    <td>
      <input type="text" value="<%= settings['redmine_completed_status_id'] %>" name="settings[redmine_completed_status_id]" >
    </td>
  </tr>
</table>